
/*Estilos especificos de la card del admin*/
/*Desactivado por prueba....*/
/* .card-admin {
  height: 550px;
} */

.card-admin {
  height: 425px; /*Aumneta un poco el tamaño para que que de lindo en la card admin, pero se basa en los estilos de la card original*/
  transition: height 0.3s ease;
}

.big-card {
  height: 515px;
}

.card-admin .content h3 {
  margin: 6px 0;
}

.card-admin .content p {
    color: var(--primary-color);
    cursor: pointer;
    margin: 10px 0;
}


.card-admin .extra-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease;
}

.card-admin .content .open {
    max-height: 200px; /*Solo puesto para generar una animación*/
    opacity: 1;
    pointer-events: all;
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.5px;
    margin-top: 5px;
}

.card-admin .content .btn-disable {
  background-color: red;
}

@media (max-width: 750px) {
  .card-admin {
    height: 440px;
  }

  .big-card {
    height: 600px;
  }

  .card-admin .content {
    padding: 10px;
    max-height: none;
  }

  .card-admin .extra-content button{
    width: 125px;
  }

 }