.contenedor-error-page {
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-error-page h1, h2 {
    color: gray;
    font-size: 26px;
}

.contenedor-error-page h1 {
    font-weight: 500;
}

.contenedor-error-page h2 {
    font-weight: 400;
}

@media (max-width: 750px) {
    .contenedor-error-page h1 {
        text-align: center;
    }
}